.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.middlesea{
  border-radius: 50%;
  width: 400px;
  margin: 30px;
}


/* .font-face-gm {
  font-family: "Deepsea";
} */